<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <% if(!user) { %>
    <a href="/login">login</a>
    <a href="/signup">sign up</a>
  <% } else { %>
    <a href="/logout">logout</a>
    <p>Hi, <%= user.local.email %> </p>
  <% }; %>
  
     <% polls.forEach(function(poll) { %>

      <% if(!user){%>
        <%if(poll.isPremium){%>
          <div>
            <%= poll.name %> <br>
            <%= poll.description %> <br>
            <% poll.choices.forEach(function(choice) { %>
              <%= choice %>
              <% if(poll.results.hasOwnProperty(choice)){%>
              
                <%= poll.results[choice] %>
                
              <% }; %>
              <br>
            <% }); %>
            <p>To vote on this poll please <a href="/login">login</a>.</p>
          </div>
        <%}else{%>
           <form method="post" action="/submit/poll/<%= poll._id %>">
            <%= poll.name %> <br>
            <%= poll.description %> <br>
            <% poll.choices.forEach(function(choice) { %>
              <%= choice %>
              <% if( !(votedOnCookie && votedOnCookie.includes(poll._id.toString())) ){%>
                <input name="choice" value="<%= choice %>" type="radio"/>
              <% }; %>
              <% if(poll.results.hasOwnProperty(choice)){%>
              
                <%= poll.results[choice] %>
                
              <% }; %>
              <br>
            <% }) %>
            <% if(votedOnCookie && votedOnCookie.includes(poll._id.toString())){%>
              <p>Sorry, you've already voted on this poll!</p>
            <%}else{%>
              <button type="submit">Submit Choice</button>
            <%};%>
          </form>
        <%};%>
      <%}else{%>

          <form method="post" action="/submit/poll/<%= poll._id %>">
            <%= poll.name %> <br>
            <%= poll.description %> <br>
            <% poll.choices.forEach(function(choice) { %>
              <%= choice %>
              <input name="choice" value="<%= choice %>" type="radio"/>
              <% if(poll.results.hasOwnProperty(choice)){%>
              
                <%= poll.results[choice] %>
                
              <% }; %>
              <br>
            <% }) %>
            <button type="submit">Submit Choice</button>
          </form>
        <% }; %>
      <% }); %>

    <script type="text/javascript" src="/javascripts/app.bundle.js"></script>
  </body>
</html>
 