<!DOCTYPE html>
<html>
  <%- include head.ejs %>
  <body>

    <%- include nav.ejs %>
    <% if (message.length > 0) { %>
      <div class="alert"><%= message %></div>
    <% } %>
    <% if (successMessage.length > 0) { %>
      <div class="alert alert-green"><%= successMessage %></div>
    <% } %>
    <div class="grid black-text">
      <% polls.forEach(function(poll) { %>
        <% if(poll.isApproved) { %>
          <% if(!user){%>
          <div class="gutter-item"></div>
            <form method="post" id="<%=poll._id.toString()%>" action="/submit/poll/<%= poll._id %>">
              <div class="grid-item">
                <div class="card grey lighten-5">
                  <div class="card-content">
                    <span class="card-title"><%= poll.name %></span>
                    <p><%= poll.description %></p>
                    <% poll.choices.forEach(function(choice) { %>
                    <div>
                      <label for="<%=poll._id.toString()%>_<%= choice %>" class="choice">
                        <% if( !(votedOnCookie && votedOnCookie.includes(poll._id.toString())) ){%>
                          <input name="choice" id="<%=poll._id.toString()%>_<%= choice %>" value="<%= choice %>" type="radio"/>
                        <% }; %>
                        <span><%= choice %></span>
                      </label>
                      <% if(poll.results.hasOwnProperty(choice)){%>
                        <span class="result" id="result_<%=poll._id.toString()%>_<%= choice %>"><%= poll.results[choice] %></span>
                      <% }; %>
                      </div>
                    <% }); %>
                  </div>
                  <div class="card-action">
                    <%if(poll.isPremium){%>
                      <p>To vote on this poll please <a href="/login" class="card__link">login</a></p>
                    <%}else{%>
                      <% if(votedOnCookie && votedOnCookie.includes(poll._id.toString())){%>
                        <p>Thank you for your response!</p>
                      <%}else{%>
                        <button class="btn btn-card" type="submit">Submit</button>
                      <%};%>
                    <% }; %>
                  </div>
                </div>
              </div>
            </form>
          <%}else{%>
          <div class="gutter-item"></div>
            <form method="post" id="<%=poll._id.toString()%>" action="/submit/poll/<%= poll._id %>">
              <div class="grid-item">
                <div class="card grey lighten-5">
                  <div class="card-content">
                    <span class="card-title"><%= poll.name %></span>
                    <p><%= poll.description %></p>
                    <% poll.choices.forEach(function(choice) { %>
                    <div>
                      <label for="<%=poll._id.toString()%>_<%= choice %>" class="choice">
                        <% if( !(user && poll.usersVoted.includes(user._id.toString())) ){%>
                          <input name="choice" id="<%=poll._id.toString()%>_<%= choice %>" value="<%= choice %>" type="radio"/>
                        <%};%>
                       <span><%= choice %></span>
                      </label>
                      <% if(poll.results.hasOwnProperty(choice)){%>
                        <span class="result" id="result_<%=poll._id.toString()%>_<%= choice %>"><%= poll.results[choice] %></span>
                      <% }; %>
                      </div>
                    <% }); %>
                  </div>
                  <div class="card-action">

                      <% if(user && poll.usersVoted.includes(user._id.toString())){%>
                        <p>Thank you for your response!</p>
                      <%}else{%>
                        <button class="btn btn-card" type="submit">Submit</button>
                      <%};%>
                  </div>
                </div>
              </div>
            </form>
          <% }; %>
        <% }; %>
      <% }); %>
    </div>

    <script type="text/javascript" src="/javascripts/app.bundle.js"></script>
  </body>
</html>
 